<ul id="menu">
    <li data-menuanchor="home" class="active"><a href="#home">Inicio</a></li>
    <li data-menuanchor="secondPage"><a href="#technologies">Tecnologias</a></li>
</ul>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">

    <div class="section">
        <div class="slide">
            <app-intro></app-intro>
        </div>
    </div>
    <div class="section">
        <div class="slide">
            <app-frontend-technologies></app-frontend-technologies>
        </div>
        <div class="slide">
            <app-backend-technologies></app-backend-technologies>
        </div>
    </div>
</div>