<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div style="width: 600px;" class="title">FRONTEND</div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
        <div ngClass.gt-sm="pr30" class="animated fadeInLeft">
            <img src="/assets/img/frontend.png" width="300px">
        </div>
        <div>
            <div style="width: 300px;" fxLayout="row wrap " fxLayoutAlign="center center">
                <app-tech-chip src="/assets/img/html.svg" placeholder="Html" [iconSeparation]="true"></app-tech-chip>
                <app-tech-chip src="/assets/img/javascript.png" placeholder="Javascipt" [iconSeparation]="true"></app-tech-chip>
                <app-tech-chip src="/assets/img/css.png" placeholder="CSS" [iconSeparation]="true"></app-tech-chip>
                <app-tech-chip src="/assets/img/ionic.png" placeholder="Ionic" [iconSeparation]="true"></app-tech-chip>
                <app-tech-chip src="/assets/img/angular.svg" placeholder="Angular"></app-tech-chip>
                <app-tech-chip src="/assets/img/jquery.png" placeholder="jQuery"></app-tech-chip>

            </div>
        </div>
    </div>
</div>