@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
@import url(~fullpage.js/dist/fullpage.min.css);
@import "variables";

html,
body {
  height: 100%;
  background-image: url("../../assets/escheresque_ste/escheresque_ste.png");
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.whiteColor {
  color: $white;
}

.fp-slidesNav {
  left: calc(50% - 25px) !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: $blue;
}

.fp-controlArrow.fp-prev {
  left: 50px;
}
.fp-controlArrow.fp-next {
  right: 50px;
}

.pr30 {
  margin-right: 30px;
}

.title {
  font-family: "Balsamiq Sans", cursive;
  color: $white;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

.title:before,
.title:after {
  background-color: $white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.title:before {
  right: 0.5em;
  margin-left: -50%;
}

.title:after {
  left: 0.5em;
  margin-right: -50%;
}

.fp-tableCell {
  height: auto !important;
}
