/* You can add global styles to this file, and also import other style files */
@import url(~fullpage.js/dist/fullpage.min.css);
@import "variables";

html,
body {
  height: 100%;
  background-image: url("../../assets/escheresque_ste/escheresque_ste.png");
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.whiteColor {
  color: $white;
}

.fp-slidesNav {
  left: 50% !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: $blue;
}

.fp-controlArrow.fp-prev {
  left: 50px;
}
.fp-controlArrow.fp-next {
  right: 50px;
}

.pr30 {
  margin-right: 30px;
}
