<div class="container" fxLayout="column" fxLayoutAlign="center center">


    <div class="me" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
        <div ngClass.gt-sm="pr20">
            <img src="/assets/img/me.jpeg" class="myphoto">
        </div>
        <div>
            <div>Daniel</div>
            <div class="whiteColor">Ortega</div>
            <div>Conesa</div>
        </div>
    </div>

    <div class="links">
        <a href="https://www.linkedin.com/in/daniel-ortega-conesa/" target="_blank">
            <img src="/assets/img/linkedin.png">
        </a>
        <a href="https://stackoverflow.com/users/10437436/daniel" target="_blank">
            <img src="/assets/img/stackOverflow.svg">
        </a>

        <a href="https://github.com/DanielOrtegaConesa" target="_blank">
            <img src="/assets/img/github.png">
        </a>
    </div>
</div>