<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div style="width: 600px;" class="title">BACKEND</div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
        <div ngClass.gt-sm="pr30" class="animated fadeInLeft">
            <img src="/assets/img/backend.png" height="200px">
        </div>
        <div>
            <div style="width: 300px;" fxLayout="row wrap " fxLayoutAlign="center center">
                <app-tech-chip src="/assets/img/java.png" placeholder="Java"></app-tech-chip>
                <app-tech-chip src="/assets/img/jersey.png" placeholder="Jersey"></app-tech-chip>
                <app-tech-chip src="/assets/img/datanucleus.jpeg" placeholder="Datanucleus"></app-tech-chip>
                <app-tech-chip src="/assets/img/php.png" placeholder="PHP"></app-tech-chip>
                <app-tech-chip src="/assets/img/laravel.png" placeholder="Laravel"></app-tech-chip>
                <app-tech-chip src="/assets/img/csharp.png" placeholder="C#"></app-tech-chip>
                <app-tech-chip src="/assets/img/python.png" placeholder="Python"></app-tech-chip>
            </div>
        </div>
    </div>
</div>